body {
  min-height: 2000px;
  padding-top: 70px;
}

table {
  width: 600px;
}

td {
  padding: 7px 10px 10px 20px;
}

tr {
  border-top: thin solid #98A9C3;
  border-bottom: thin solid #98A9C3;
}

td.tbl-col-1 {
  width: 70px;
}

.br-margin-bottom {
  margin-bottom: 25px;
}

.links-no-color {
  color: black;
}
