<h2 class='br-margin-bottom'>All Mail</h2>

{{#link-to 'new-mail'}}
  <button class="btn btn-primary btn-xs br-margin-bottom">Add Message</button>
{{/link-to}}

<table>
  {{#each}}
    <tr>
      <td>
        {{#link-to 'mail' this.id}}{{fromAddress}}{{/link-to}}
      </td>
      <td>
        {{#link-to 'mail' this.id}}{{subject}}{{/link-to}}
      </td>
    </tr>

  {{/each}}
</table>
