<h2>{{subject}}</h2>

<table>
  <tr>
    <td>From:</td>
    <td>{{fromAddress}}</td>
  </tr>
  <tr>
    <td>To:</td>
    <td>{{toAddress}}</td>
  </tr>
  <tr>
    <td>Message:</td>
    <td>{{body}}</td>
  </tr>
</table>
